#title {
    margin: 0px;
    padding: 10px;
    margin-left: 42px;
}

#menu {
    background-color: #1976D2;
    color: #ffffff;
    height: 60px;
}

md-menu-bar button, md-menu button {
    font-size: 20px !important;
    height: 60px !important;
    color: white;
    transition: background-color 0.2s;
}

md-menu-bar button:hover, md-menu button:hover {
    background-color: #448AFF;
}