<div layout="column" layout-margin flex layout-align="center center">

    <md-toolbar layout="column" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Mes Offres</span>
        </div>

        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="offer in myOffersCtrl.offers" ng-click="myOffersCtrl.goToDetails(offer)">
                    <div class="md-list-item-text" layout="column">
                        <div class="oneOffer" layout="row">
                            <h3 style="color: #388E3C;">Départ: </h3>
                            <h3 style="color: #388E3C;">{{ offer.adresseDepart }} {{ offer.codePostalDepart }} {{ offer.villeDepart }}</h3>
                        </div>
                        <div class="oneOffer" layout="row">
                            <h3 style="color: #D32F2F;">Arrivée: </h3>
                            <h3 style="color: #D32F2F;">{{ offer.adresseArrivee }} {{ offer.codePostalArrivee }} {{ offer.villeArrivee}}</h3>
                        </div>
                        <div class="oneOffer" layout="row">
                            <h4>Publié le: </h4>
                            <h4>{{ offer.date_publication }}</h4>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>

            </md-list>
        </md-content>
    </md-toolbar>

</div>