.md-toolbar-tools {
    background-color: #1976D2;
    color: white;
}

.oneOffer>h3 {
    font-weight: 400 !important;
    font-size: 24px !important;
}

.oneOffer>span {
    font-size: 16px;
    margin-left: 5px;
}

.oneOffer>h4 {
    font-size: 18px !important;
}