<!-- !! A SUPPRIMER LORS DU DEPLOIEMENT !!
jdurand : aaaaaa
jduval : bbbbbb
lahmad : cccccc
Admin : admin59
orozan : OzTprP -->

<div layout="column" layout-margin flex layout-align="center center">

    <h2>Inscription</h2>
    <form method="POST" id="loginForm" layout="column" ng-submit="signupCtrl.signup()">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="text" name="email" ng-model="signupCtrl.user.email" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Mot de passe</label>
            <input type="password" name="password" ng-model="signupCtrl.user.password" />
        </md-input-container>

        <input id="loginButton" type="submit" class="md-raised md-primary md-button md-ink-ripple" value="S'inscrire">
    </form>
</div>