<md-dialog aria-label="Mango (Fruit)" style="width: 480px;">
    <form ng-cloak method="POST" id="ChangePasswordForm" name="ChangePasswordForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Changer le mot de passe</h2>
                <span flex></span>

            </div>
        </md-toolbar>

        <md-dialog-content style="padding: 20px;">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Mot de passe actuel</label>
                <input type="password" name="currentPassword" ng-model="updatePasswordCtrl.user.currentPassword" required/>
                <div ng-messages="ChangePasswordForm.currentPassword.$error" ng-show="ChangePasswordForm.currentPassword.$invalid && ChangePasswordForm.currentPassword.$touched" style="color:maroon" role="alert">
                    <div ng-message="pattern">Incorrect password (numbers, letters, between 8 and 16)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label> Nouveau mot de passe</label>
                <input type="password" name="newPassword" ng-model="updatePasswordCtrl.user.newPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,16}$/" required/>
                <div ng-messages="ChangePasswordForm.newPassword.$error" ng-show="ChangePasswordForm.newPassword.$invalid && ChangePasswordForm.newPassword.$touched" style="color:maroon" role="alert">
                    <div ng-message="pattern">Incorrect password (numbers, letters, between 8 and 16)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Répéter le nouveau mot de passe</label>
                <input register-validator ref="{{updatePasswordCtrl.user.newPassword}}" type="password" name="passwordCheck" ng-model="passwordCheck" required/>
                <div ng-messages="ChangePasswordForm.passwordCheck.$error" ng-show="ChangePasswordForm.passwordCheck.$invalid && ChangePasswordForm.passwordCheck.$touched" style="color:maroon" role="alert">
                    <div ng-message="diff">Different passwords</div>
                </div>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="updatePasswordCtrl.closeDialog()">
                Annuler
            </md-button>
            <md-button class="md-raised md-primary" ng-click="updatePasswordCtrl.validatePasswordChange()" ng-disabled="!ChangePasswordForm.$valid">
                Valider
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>